@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    #519e51,
    #519e51 10px,
    #5abe5a 10px,
    #5abe5a 20px
  );
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 10px black;
}

.card * {
  display: block;
}

.card i:nth-child(1),
.card i:nth-child(3) {
  font-size: 3.5em;
  margin: 0.5em;
  line-height: 0.5em;
}

.card i:nth-child(1) {
  align-self: flex-start;
}

.card i:nth-child(3) {
  transform: rotate(180deg);
}

.card span {
  align-self: center;
  font-size: 3em;
}
.black {
  color: black;
}

.red {
  color: red;
}

svg {
}
